@keyframes textAnimation {
  from {}
  to {}
}

@keyframes iconAnimation {
  
}

@keyframes buttonAnimation {
  from {
    background: rgba(244, 244, 244, 0.10);
  }
  to {
    background: #F4F4F4;
  }
}

.body {
  background-image: url(./images/thomas_shelby.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
  padding-top: 200px;
  flex-direction: column;
  gap: 15px;
	justify-content: center;
	align-items: center;
}

.logo {
  position: absolute;
  top: 75px;
  /* margin: 200px auto 110px; */
}

.logo_menu {
  left: calc(50% - 141.5px);
}

.overflow_hide {
  overflow: hidden;
}

.middle {
  transition: all .5s linear;
  opacity: 1;
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 240px;
  border-radius: 30px;
  border: 1px solid var(--white, #E7E7E7);
  background: rgba(244, 244, 244, 0.10);
  backdrop-filter: blur(2px);
}

.middle_active {
  background: #F4F4F4;
}

.middle img {
  position: absolute;
  display: inline;
  transition: all .5s linear;
  /* top: 17px; */
  left: 17px;
}

.middle_active img {
  right: 17px;
  left: auto;
  filter: brightness(0) saturate(100%) invert(2%) sepia(9%) saturate(246%) hue-rotate(314deg) brightness(100%) contrast(80%);
}

.middle p {
  position: absolute;
  display: inline;
  transition: all .5s linear;
  top: 9px;
  right: 17px;
  margin: 0;
  color: var(--white, #F4F4F4);
  font-size: 24px;
  font-family: Futura PT;
}

.middle_active p {
  top: 9px;
  left: 17px;
  right: auto;
}

.middle_hide {
  opacity: 0;
}


.icon_menu .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/icon_menu.svg'));
}
.icon_inst .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/inst_icon.svg'));
}
.icon_rate .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/rate_icon.svg'));
}
.icon_tips .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/tips_icon.svg'));
}

.pages {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100vw;
  min-height: 100vh;
  transition: opacity 1.3s linear;
}

.pages_show {
  opacity: 1;
  z-index: 1000;
}

.page {
  margin-bottom: 15px;
  width: 100%;
}

.page:last-child {
  margin-bottom: 0;
}

.button_back {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border: none;
}

.hidden_link {
  opacity: 0;
}

/* LAYOUT */

.buttons {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  gap: 45px;
}

.footer {
  width: 100%;
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 150px;
}

.footer span {
  font-size: 12px;
  font-family: 'Futura PT';
  font-weight: 500;
  margin-bottom: 2px;
}

.footer div {
  margin: 25px;
}

.footer p {
  font-size: 12px;
  font-family: 'Futura PT';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.footer p:last-child {
  text-align: end;
}