@keyframes line {
  from { opacity: 1; width: 70px; left: 100}
  to { opacity: 0; width: 0; left: 110px}
}

@keyframes palec {
  from { margin-left: 0; opacity: 1; }
  to { margin-left: 110px; opacity: 0; }
}

@keyframes ellipse {
  from { opacity: 1; }
  to { opacity: 0; }
}

.body {
  background-image: url(./images/thomas_shelby.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
  padding-top: 200px;
  flex-direction: column;
  gap: 50px;
	justify-content: center;
	align-items: center;
}

.logo {
  position: absolute;
  top: 75px;
  /* margin: 200px auto 110px; */
  margin-bottom: 0;
}

.logo_menu {
  left: calc(50% - 141.5px);
}

.overflow_hide {
  overflow: hidden;
}

.middle {
  width: 200px;
  transition: margin-right .8s ease-in;
  margin-bottom: -5px;
  margin-right: 20px;
}

.middle_hide {
  margin-right: 500px;
}

.slider-container {
	position: relative;
}

.slider-container .bar {
	position: absolute;
	z-index: 1;
	top: -23px;
	width: 100%;
	height: 50px;
  padding-right: 35px;
  border: 2px solid #FF8521;
	border-radius: 70px;
	overflow: hidden;
  background: rgba(244, 244, 244, 0.1);
/* white */

  border: 1px solid #E7E7E7;
  backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}

.slider-container .bar .title {
  position: absolute;
  z-index: 500;
  top: 11px;
  right: 20px;
  color: white;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.slider-container .slider {
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
  margin-bottom: 12px;
  margin-left: 20px;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
  opacity: var(--opacityIcon);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: .3s ease-in-out;
}

.icon_menu .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/icon_menu.svg'));
}
.icon_inst .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/inst_icon.svg'));
}
.icon_rate .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/rate_icon.svg'));
}
.icon_tips .slider::-webkit-slider-thumb {
	background-image: var(--linkIcon, url('./images/tips_icon.svg'));
}

.pages {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100vw;
  min-height: 100vh;
  transition: opacity 1.3s ease-in;
}

.pages_show {
  opacity: 1;
  z-index: 1000;
}

.page {
  margin-bottom: 15px;
  width: 100%;
}

.page:last-child {
  margin-bottom: 0;
}

.button_back {
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: transparent;
  border: none;
}

.hidden_link {
  opacity: 0;
}

/* LAYOUT */

.buttons {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  gap: 45px;
}

.footer {
  width: 100%;
  color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.footer span {
  font-size: 12px;
  font-family: 'Futura PT';
  font-weight: 500;
  margin-bottom: 2px;
}

.footer div {
  margin: 25px;
}

.footer p {
  font-size: 12px;
  font-family: 'Futura PT';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.footer p:last-child {
  text-align: end;
}

/* ANIMATION */

.animation {
  width: 130px;
  position: relative;
  margin-bottom: 50px;
  margin-left: 5px;
}

.palec {
  position: absolute;
  animation: 1.3s infinite palec;
}

.ellipse {
  left: 107px;
  position: absolute;
  width: 27px;
  height: 27px;
  overflow: hidden;
  border-radius: 30px;
  border: 1.7px dashed #ffffff;
  margin-bottom: 5px;
  animation: 1.3s infinite ellipse;
}